<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>quickpay</name>
	<displayName><![CDATA[Quickpay]]></displayName>
	<version><![CDATA[3.25]]></version>
	<description><![CDATA[Accept payments by Quickpay]]></description>
	<author><![CDATA[Kjeld Borch Egevang]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall, and remove all information regarding this module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>